@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to your existing globals.css */

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-animated {
  background-size: 200% 200%;
  animation: gradient-animation 15s ease infinite;
}

